.backdrop {
	background-image: url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/backdrop.jpg');
	height:1367px;
}

.top-wrap-overlay {
  position: absolute !important;
  top: -2px !important;
  z-index: 0 !important;
  background-position: 50% -114px !important;
}

.section-wrapper .section-wrapper-content .section-wrapper-content-wrapper {
  padding:0px 4px;
}

.section-wrapper .section-wrapper-top:before {
	background: transparent url("http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/frame-top.png") no-repeat;
    background-position: -4px -10px;
    margin-left: 110px;
    width: 1089px;
    z-index: -2;
    top: -33px;
    left: 10px;        
}

.section-wrapper .section-wrapper-top {
	opacity:0;	
}

.section-wrapper .section-wrapper-content {
    background-image: url("http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/frame-vert.png");
}

.section-wrapper .section-wrapper-bottom {
    background: url("http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/frame-bot.png") no-repeat 50% 0px;
    z-index: 1;
    margin-left: 2px;
    pointer-events: none;
    height: 356px;
    top: -189px; 
}

#footer {
	margin-top:-320px;
}

.top-frame {
    background: transparent url("http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/frame-top.png") top center no-repeat;
    width: 1095px;
    height: 239px;
    position: absolute;
    margin-left: -61px;
    margin-top: -40px;
    z-index: 1;
}

.pane-breadcrumb-title {
	opacity:0;
}

.section-wrapper-primary {
	overflow: hidden;
    top: -219px;
    padding-top: 160px;
}

.splash-petals-left {
    background: transparent url("http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/splash-petals-left.png") top center no-repeat;
    width: 214px;
    height: 156px;
    position: absolute;
    margin-left: -141px;
    margin-top: -305px;
    z-index: 2;    
}

.splash-petals-right {
    background: transparent url("http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/splash-petals-right.png") top center no-repeat;
    width: 201px;
    height: 399px;
    position: absolute;
    z-index: 2;
    margin-left: 973px;
    margin-top: -410px;    
}

.title-box {
    position: absolute;
    top: 411px;
    left: 194px;
    text-transform: uppercase;
    z-index: 1;
}

.title-box h1 {
	font-family:"Beaufort for LOL";
	font-style: normal;	
	color:#dad0b6;
	font-size:80px;
	font-weight: 700;
	text-transform: uppercase;
    background: -webkit-repeating-linear-gradient(-70deg, #f2edde, #dad0b6, #7a6847, #7a6847);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    filter: url(#drop-shadow);
    filter: drop-shadow(-3px 4px 2px #222);
    -webkit-filter: drop-shadow(-3px 4px 2px #000);
    margin-bottom:5px;
}

.title-box h4 {
	font-family:"Beaufort for LOL";
	font-style: normal;	
	color:#e4fcdb;
	font-size:29px;
	font-weight: 700;
	margin-top:-5px;
	letter-spacing:3px;
    filter: url(#drop-shadow);
    filter: drop-shadow(5px 5px 5px #222);
    -webkit-filter: drop-shadow(4px 4px 4px #000);	
}

.splash-image {
    background: transparent url('images/Sunset.jpg') top center no-repeat;
    width: 973px;
    height: 590px;
    margin-left: 0px;
    z-index: 0;
}

.splash-wallpaper {
    width: 977px;
    height: 580px;
	clear:right;
	position:absolute;
	z-index:3;
}

.frame-mid {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/frame-divider.png') top center no-repeat;
    width: 1104px;
    height: 551px;
    position: absolute;
    margin-left: -66px;
    margin-top: -172px;
}

.main-area {
    background-color: #eaeaea;
    margin-left: 2px;
    width: 973px;
    padding-bottom: 50px;
}

.top-texture {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/texture-top.jpg') top center no-repeat;
    width: 973px;
    height: 484px;
    position: absolute;
    margin-left: 0px;
    margin-top: 4px;
    z-index: 0;
}

.main-content {
	width:730px;
	margin:0 auto 0 auto;
	padding-top:75px;
	position:relative;
}

.intro-text {
	width:695px;
	margin:0 auto 0 auto;
	padding-top:70px;
	position:relative;	
}

.intro-text p {
	font-family:"Beaufort for LOL";
	font-weight: 500;
	font-style: normal;
	font-size:26px;
	line-height:32px;
	color:#3f2b1a;
	text-align:center;
	padding:0px 30px;
}

.divider {
	background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/divider.jpg') top center no-repeat;
	width:338px;
	height:77px;
    margin: -30px auto -35px auto;		
}

.main-content p {
	font-family:"Beaufort for LOL";
	font-weight: 400;
	font-style: normal;
	margin-top:15px;
	font-size:16px;
	line-height:24px;
	color:#010100;
	position:relative;
	z-index:1;
}

.main-area .abilities p {
	color:#2d2000;
}

.main-content h2 {
	font-family:"Beaufort for LOL";
	font-weight: 500;
	font-style: normal;
	font-size:30px;
	color:#820e0e;
	text-transform:uppercase;
	position:relative;	
	z-index:1;
}

blockquote.blockquote {
	font-family:"Beaufort for LOL";
	font-weight: 500;
	font-style: italic;
	color:#391f12;
	line-height:1.2em;
	font-size:28px;
    z-index: 1;
    position: relative;	
}

blockquote.blockquote:before, blockquote.blockquote:after {
	color:#7e2f2d;
}

blockquote.blockquote:before {
	margin-top:-7px;
	font-size:54px;
}

blockquote.blockquote:after {
	margin-left:-2px;
	font-size:45px;
}

.tree-man {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/tree-man.png') top center no-repeat;
    width: 603px;
    height: 1632px;
    position: absolute;
    margin-left: -121px;
    margin-top: -150px;
    z-index: 1;
}

.grey-accent {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/frame-grey-accent.png') top center no-repeat;
    width: 1041px;
    height: 460px;
    position: absolute;
    margin-left: -155px;
    z-index:2;
}

.simple-accent {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/frame-simple-accent.png') top center no-repeat;
    width: 1041px;
    height: 221px;
    position: absolute;
    z-index: 3;
    margin-left: -155px;    
}

.inverted-grey-accent {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/frame-grey-accent-inverted.png') top center no-repeat;
    width: 1041px;
    height: 460px;
    position: absolute;
    margin-left: -155px;
    z-index:2;
}

#ga1 {
	margin-top:70px;
}

#ga2 {
	margin-top:-60px;
}

#sa1 {
    margin-top: 90px;
}

#sa2 {
	margin-top:-150px;
}

#sa3 {
	margin-top:60px;
}

.flower {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/flower.png') top center no-repeat;
    width: 658px;
    height: 702px;
    position: absolute;
	margin-left: 290px;
    margin-top: -270px;
    z-index:1;
}

.flower-petals {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/flower-petals.jpg') top center no-repeat;
    width: 425px;
    height: 761px;
    position: absolute;
    margin-left: 712px;
    margin-top: -520px;
    z-index: -2;    	
}

#flower-paragraph {
	width:361px;
}

.abilities-petals-left {
    background: transparent url("http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/abilities-petals-left.jpg") top center no-repeat;
    width: 219px;
    height: 558px;
    position: absolute;
    margin-left: -360px;
    margin-top: 560px;
}

.abilities-petals-right {
    background: transparent url("http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/abilities-petals-right.jpg") top center no-repeat;
    width: 159px;
    height: 471px;
    position: absolute;
    margin-left: 872px; 
    margin-top:600px;  
}

.video-section {
	height:815px;
	text-align:center;
}

h2.abl-header {
	margin-top:60px;
	margin-bottom:35px;
}

.cycle-pager>div {
	display: inline-block;
	position: relative;
}

#no-template-pager {
	position:absolute;
	width:720px;
    margin-top: 385px;
	z-index:101;
}

.thumb {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/icon-states.png') -92px -5px no-repeat;
    width: 89px;
    height: 116px;
    padding: 28px 13px 27px 15px;
    cursor: pointer;
}

.cycle-pager-active .thumb {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/icon-states.png') -4px -5px no-repeat;  
}

.slide .gs-container {
	height:715px;
}

.abilities {
	width:720px;
	margin-top:157px;
    padding: 0px 20px;	
}

.video-border {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/video-border.png') top center no-repeat;
    width: 710px;
    height: 417px;
    position: absolute;
    top: -29px;
    left: 5px;
    z-index: 2;
    pointer-events: none;
}

.abilities h2 {
	font-size:26px;
	color:#820e0e;
	font-weight:400;
	margin-bottom:-5px;
}

.medium {
	font-family:"Beaufort for LOL";
	font-weight: 500;
	font-style: normal;
}

.comic img {
    margin: 5px 0px 45px 9px;
    height: 434px;
    width: 717px;
    position: relative;
    z-index: 2;
}

.butterfly-background {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/butterfly-background.jpg') top center no-repeat;
    width: 853px;
    height: 1228px;
    position: absolute;
    margin-left: -164px;
    margin-top: -660px;
}

.butterfly-smoke {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/butterfly-smoke.jpg') top center no-repeat;
    width: 430px;
    height: 769px;
    position: absolute;
    margin-left: -615px;
    margin-top: -470px;
}

.butterfly {
    background: transparent url('images/poro.png') top center no-repeat;
    width: 284px;
    height: 270px;
    margin-left: 0px;
    position: relative;
    z-index:2;
}

.content-segment-1 {
    padding: 0px 43px;
}

.content-segment-1 .default-1-2 {
	width:47%;
}

.content-segment-2 {
	padding:0px 70px 0px 170px;
}

.content-segment-3 {
    padding: 0px 38px;
    text-align: center;	
}

.content-segment-3 .divider {
    margin: 30px auto -20px auto;	
}

#bq1 {
    margin-left: 450px;
    width: 330px;
    margin-bottom: 40px;
}

#bq2 {
	width:400px;
	margin:57px 0px 75px 0px;
	z-index:2;
}

.curtain-call blockquote {
    width: 380px;
    position: absolute;
    margin-top: 180px;
    margin-left: 150px;
    color: #dedede;	
}

.curtain-call {
    background: transparent url('images/Memorial_Stadium.jpg') top center no-repeat;
	width: 1041px;
    height: 541px;
    margin:60px 0px 0px -155px;
    position: relative;
    z-index: 3;
}

.texture-mid-top {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/texture-mid-top.jpg') top center no-repeat;
	width: 973px;
    height: 348px;
    position: absolute;
    margin-left: -121px;
    margin-top: -257px;
}

.texture-mid-bot {
    background: transparent url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/texture-mid-bot.jpg') top center no-repeat;
	width: 973px;
    height: 338px;
    position: absolute;
    margin-left: -121px;
    margin-top: -71px;
}

.synergy-image {
	max-width:972px;
    margin-left: -170px;
}

.synergy {
    width: 770px;
    margin: 30px 0px 35px -14px;
    position:relative;
    z-index:2;
}

.synergy .content-border {
    background-color: rgb(176, 167, 144);
    padding: 10px;
}

.synergy .white-stone {
    background: #eaeaea;
    padding-bottom:50px;
    padding-right:83px;
}

.synergy .content-border>* {
    box-shadow: none;
    -webkit-box-shadow: initial;
}

.synergy hr.divider {
    margin: 20px 0 0 -20px;
    width: 748px;
}

.syn-caption {
	font-size:16px;
	font-style:italic;
	font-weight:400;
	color:#000000;
}

.synergy header.header {
    background: #543401;
    box-shadow: none;
    -webkit-box-shadow: initial;	
}

.synergy header.header>h4 {
	border:0px;
	padding: 21px 40px;
	text-transform:uppercase;
	font-family:"Spiegel";
	font-weight: 400;
	font-style: normal;
	font-size:16px;
	color:#dedede;	
}

.white-stone.padded div {
	margin: 34px 0px;
	margin-bottom: 30px;
}

.white-stone.padded div:first-child {
	margin-top: 21px;
}

.white-stone.padded div:last-child {
	margin-bottom: 0px;
}

.syn-img-container img {
	height: 115px;
}

.syn-img-container {
	display: block;
	position: absolute;
	margin-top:5px;
}

.white-stone.padded h3, .white-stone.padded p {
	margin-left: 150px;
	margin-top:5px;
}

.main-content .synergy p {
	font-family:"Beaufort for LOL";
	font-weight: 400;
	font-style: normal;
	font-size:16px;
	color:#000000;
}

.synergy h3, .synergy a {
	color:#8f0101;
	font-family:"Beaufort for LOL";
	font-weight: 500;
	font-style: normal;
	font-size:26px;
	text-decoration:none;
}

.main-content .synergy h2 {
	padding-left:50px;
}

.gun {
    background: url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/gun.jpg') no-repeat 0 100%;
    width: 896px;
    height: 531px;
    margin:-220px 0px 10px -71px;
}

.gun-smoke {
    background: url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/gun-smoke.png') no-repeat 0 100%;
    width: 143px;
    height: 519px;
    position:absolute;
    margin-top: -578px;
    margin-left: 805px;
    z-index:4;  
}

.texture-bot {
    background: url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/texture-bot.jpg') no-repeat 0 100%;
    width: 973px;
    height: 336px;
    margin-left: 2px;
    margin-top: -214px;
    z-index: -1;
}

.pane-node-field-riot-comments {
    position: relative;
    left: 2px;
    z-index: 168;
    min-height: 336px;
    width: 973px;
    margin-bottom: 1px;
    padding: 20px 130px;
    background: url('http://news.cdn.leagueoflegends.com/public/images/pages/2016/january/jhin/img/texture-bot.jpg') no-repeat 0 100%;
    background-color: #eaeaea;
}

.riot-apollo {
	background-color: #dedede;
    margin-bottom: -60px;
    margin-left: -3px;
    padding:20px 0px 110px 30px;
}

.riot-apollo .riot-discussion-masthead h1 {
	font-family: "BeaufortforLoL-Medium";
    color: #8f0101;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.riot-apollo .riot-discussion-masthead h2 {
    font-family: "BeaufortforLoL-Medium";
    color: #8f0101;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.riot-apollo .riot-discussion {
    background-color: transparent !important;
}

.riot-apollo {
	background-color:transparent !important;
}

